.filter {
  &-wrapper {
    .form-label {
      font-size: .75rem;
    }

    .form-text {
      font-size: .75rem;
    }
    
    &:last-child {
      display: flex;
      align-items: flex-end;
    }
  }
}